.nav-container{
    padding: 20px 20px 10px 0;
    border-right: 1px solid rgb(216, 216, 216);
    min-width: 240px;
}

.logo{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.routes{
    list-style-type: none;
    margin-top: 16px;
}

.routes li{
    margin-bottom: 12px;
}

.routes li a{
    display: flex;
    color: grey;
    padding: 18px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    transition: 0.5s;
    align-items: center;
    column-gap: 10px;
}

.routes li a img{
    filter: invert(26%);
}

.routes li a:hover{
    background-color: rgb(207, 207, 207);
    color: black;
}

.cur-route{
    background-color: blue;
}

.cur-route{
    color: white !important;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.profile .text p{
    color: grey;
    font-size: 12px;
}
.profile .text h4{
    font-size: 12px;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
