.screen2-container {
  padding: 20px 20px 0 20px;
  width: 100%;
}

.screen2-container .header .text h1 {
  font-size: 44px;
}


.drop-downs{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.drop-downs .select-container{
    padding: 8px;
    background: #0d0d0dbb;
    color: white;
    border-radius: 30px;
}
.select-container select{
    background: transparent;
    color: white;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}
.select-container option{
    background: #0d0d0dbb;
    color: white;
}


.record-attendance{
    margin-top: 60px;
}

.record{
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin: 18px 0;
}

.period{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    color: white;
    text-align: center;
    font-size: 12px;
}

.teacher-name{
    min-width: 180px;
    background-color: rgb(214, 214, 214);
    padding: 8px 14px;
    font-size: 18px;
    border-radius: 4px;
}

.record-attendance button{
    border: 1px solid rgb(204, 204, 204);
    outline: 0;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    transition: 1s;
}

.present{
    background: #0AC10A !important;
    color: white;
}
.absent{
    background: #D00D0D !important;
    color: white;
}

